<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notebook"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/notes"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.notebook.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.notebook.activity.AddActivity"></activity>
        <activity android:name="com.notebook.activity.NotesListActivity"></activity>
        <activity android:name="com.notebook.activity.SearchActivity"></activity>
        <activity android:name="com.notebook.activity.DustbinActivity"></activity>
        <activity android:name="com.notebook.activity.DisplayActivity"></activity>
        <activity android:name="com.notebook.activity.UpdateActivity"></activity>
    </application>

</manifest>
